*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: #282c34;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: calc(100vh - 2px);
  color: white;
  max-width: 500px;
}
header {
  width: calc(100% - 2px);
  padding: 0 0.25em;
  color: bisque; 
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: brown;
}
footer {
  width: calc(100% - 2px);
  padding: 0 0.25em;
  justify-content: center;
  align-items: center;
  background-color: brown;
  display: grid;
  place-content: center;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.team {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.25rem 0;
  padding: 0 0.5rem  0 0.5rem 0;
  background-color: #eee;
  color: black;
}

.team:first-child {
  margin: 0;
}

.team input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem ;
}

.team input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.team > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.team svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.team svg:focus,
.team svg:hover {
  color: brown;
  outline: none;
}

/* .searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.2rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;

} */